h1{
  color:grey;
  font-family:'Permanent Marker', cursive, "Times New Roman", serif;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
}

body{
  background-color: #d7d7af
}

h4{
  color:grey;
  font-family:H'Oswald', sans-serif, "Times New Roman", serif;
  font-weight: 150;
  text-align: center;
  font-size: 25px;
}

p{
  color:black;
  font-family:'Bree Serif', serif, "Times New Roman", serif;
  font-weight: 30;
  text-align: center;
  font-size: 15px;
}



#container{
  Width:95%;
  background-color:#d7d7af;
  margin: 0 auto;
  text-align: center;
  font-family:'Satisfy', cursive;
  font-size:0.8em;
}

#nav li{
  list-style-type:none;
  margin:0 auto;
  padding:0;
  width:100%;
  display:block;
  font-family:'Satisfy', cursive;
}

#nav a:link, #nav a:visited{
  display:block;
  Color:#ffffff;
  background-color:#98bf21;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding:4px;
  font-family:Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active{
  background-color:#7a991a;
}

#nav{
  padding:0;
}

.imgcenter{
  text-align: center;
}
